[submodule "Vendor/Mixpanel"]
	path = Vendor/Mixpanel
	url = https://github.com/mixpanel/mixpanel-iphone.git
[submodule "Vendor/ZAActivityBar"]
	path = Vendor/ZAActivityBar
	url = https://github.com/zacaltman/ZAActivityBar.git
[submodule "Vendor/MagicalRecord"]
	path = Vendor/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Vednor/SwiftLocation"]
	path = Vednor/SwiftLocation
	url = https://github.com/malcommac/SwiftLocation.git
[submodule "Vendor/SwiftLocation"]
	path = Vendor/SwiftLocation
	url = https://github.com/malcommac/SwiftLocation.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
